{% macro render_board(game, messages) %}
    <h2>MovieChron</h2>
    <div class='game', id='{{game.game_id}}'>
        <div class='messages'>
            {% for message in messages%}
                {{ message|safe }}
                <br>
            {% endfor %}
            <br>
        </div>
        <h2> Timeline </h2>
        {% set ns = namespace(spacer_class='inbetween') %}
        <div class='timeline pile'>
            {% for key, movie in game.timeline.iterrows() %}
                {% if loop.first and loop.last and 'I' not in game.game_id.split('_')[3] %} 
                    {% set ns.spacer_class = 'inbetween first' %}
                {% endif %}
            <span class="{{ns.spacer_class}}" onclick=placeMovie(this.id) id='{{ "timeline_" + key|string }}'></span>
            <span class='movie'>
                <img src='{{ movie.posterURL }}'</img>
                
                <p class='title'>{{ movie.primaryTitle }}</p>
                <p class='year'>{{ movie.startYear }}</p>
            </span>
            {% endfor %}
            <span class='{{ns.spacer_class}}' id='{{ "timeline_" + game.timeline|length|string }}' onclick=placeMovie(this.id)>
            </span>
        </div>
        <h2> In The Wings </h2>
        <div class='wings pile'>
            {% for key, movie in game.wings.iterrows() %}
            <span class='movie' id='{{ "wings_" + key|string }}' onclick=selectWingMovie()>
                <img src='{{ movie.posterURL }}'></img>
                <br>
                {{ movie.primaryTitle }}
                <p class='year'>{{ movie.startYear }}</p>
            </span>
            {% endfor %}
        </div>
    </div>
{% endmacro %}